body {
    margin: 0 auto;
    max-width: 60em;
    font-family: "Helvetica", "Arial", sans-serif;
    line-height: 1.5;
    padding: 4em 1em;
    color: #566b78;
  }

h1,
h2,
strong {
  color: #333;
}

h2 {
    margin-top: 1em;
    padding-top: 1em;
}

code,
pre {
  background: #eee;
  background: #f5f7f9;
  border-bottom: 1px solid #d8dee9;
  color: #a7adba;
}

code {
  padding: 2px 4px;
  vertical-align: text-bottom;
}

pre {
  padding: 1em;
}

a {
    color: #a00ca0;
  }
 
  #mephoto {
    float:right;
    height: auto; 
    width: auto; 
    max-width: 250px; 
    max-height: 250px;
  }

p {
float: left;
}